.calculator{
    display: grid;
    height: 350px;
    width: 235px;
  
  
    border-radius: 5px;
    overflow: hidden;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 50px 50px 50px 50px 50px ;
   
  
}