:root{
    --bg-button: #fff;
    --border-button: solid 5px #dfdfdf;
}
.button{
    font-size: 1.4rem;
   
    border: none;
    background-color: var(--bg-button);
    border-right: var(--border-button);
    border-bottom: var(--border-button) ;
    border-top: var(--border-button) ;
    border-left: var(--border-button) ;
    outline: none;
   
}
.button:active{
    background-color:  #efefef;
}


.button.double{
    grid-column: span 2;
    background-color: lightblac;
}
.button.triple{ 
    grid-column: span 3;
}
.button.operation{
    background-color: #D3D3D3;
    
}
.button.operation:active{
    background-color: #dfdfdfcc;
}
.button.equals{
    background-color: #0000FF;
    
}
.button.equals:active{
    background-color: #0000FFcc;
}